body.flexcyon-flex-max-mode,
body.flexcyon-ext-colors-enabled {
  --color-red-blue-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-blue)
  );
  --color-blue-red-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-red)
  );
  --color-red-blue-mix-bg: oklch(
    from var(--color-red-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-red-mix-bg: oklch(
    from var(--color-blue-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-orange-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-orange)
  );
  --color-orange-red-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-red)
  );
  --color-red-orange-mix-bg: oklch(
    from var(--color-red-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-red-mix-bg: oklch(
    from var(--color-orange-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-yellow-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-yellow)
  );
  --color-yellow-red-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-red)
  );
  --color-red-yellow-mix-bg: oklch(
    from var(--color-red-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-red-mix-bg: oklch(
    from var(--color-yellow-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-green-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-green)
  );
  --color-green-red-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-red)
  );
  --color-red-green-mix-bg: oklch(
    from var(--color-red-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-red-mix-bg: oklch(
    from var(--color-green-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-cyan-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-cyan)
  );
  --color-cyan-red-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-red)
  );
  --color-red-cyan-mix-bg: oklch(
    from var(--color-red-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-red-mix-bg: oklch(
    from var(--color-cyan-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-purple-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-purple)
  );
  --color-purple-red-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-red)
  );
  --color-red-purple-mix-bg: oklch(
    from var(--color-red-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-red-mix-bg: oklch(
    from var(--color-purple-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-red-pink-mix: color-mix(
    in oklch,
    var(--color-red),
    var(--color-pink)
  );
  --color-pink-red-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-red)
  );
  --color-red-pink-mix-bg: oklch(
    from var(--color-red-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-red-mix-bg: oklch(
    from var(--color-pink-red-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-yellow-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-yellow)
  );
  --color-yellow-orange-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-orange)
  );
  --color-orange-yellow-mix-bg: oklch(
    from var(--color-orange-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-orange-mix-bg: oklch(
    from var(--color-yellow-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-green-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-green)
  );
  --color-green-orange-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-orange)
  );
  --color-orange-green-mix-bg: oklch(
    from var(--color-orange-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-orange-mix-bg: oklch(
    from var(--color-green-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-cyan-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-cyan)
  );
  --color-cyan-orange-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-orange)
  );
  --color-orange-cyan-mix-bg: oklch(
    from var(--color-orange-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-orange-mix-bg: oklch(
    from var(--color-cyan-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-blue-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-blue)
  );
  --color-blue-orange-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-orange)
  );
  --color-orange-blue-mix-bg: oklch(
    from var(--color-orange-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-orange-mix-bg: oklch(
    from var(--color-blue-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-purple-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-purple)
  );
  --color-purple-orange-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-orange)
  );
  --color-orange-purple-mix-bg: oklch(
    from var(--color-orange-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-orange-mix-bg: oklch(
    from var(--color-purple-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-orange-pink-mix: color-mix(
    in oklch,
    var(--color-orange),
    var(--color-pink)
  );
  --color-pink-orange-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-orange)
  );
  --color-orange-pink-mix-bg: oklch(
    from var(--color-orange-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-orange-mix-bg: oklch(
    from var(--color-pink-orange-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-green-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-green)
  );
  --color-green-yellow-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-yellow)
  );
  --color-yellow-green-mix-bg: oklch(
    from var(--color-yellow-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-yellow-mix-bg: oklch(
    from var(--color-green-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-cyan-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-cyan)
  );
  --color-cyan-yellow-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-yellow)
  );
  --color-yellow-cyan-mix-bg: oklch(
    from var(--color-yellow-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-yellow-mix-bg: oklch(
    from var(--color-cyan-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-blue-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-blue)
  );
  --color-blue-yellow-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-yellow)
  );
  --color-yellow-blue-mix-bg: oklch(
    from var(--color-yellow-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-yellow-mix-bg: oklch(
    from var(--color-blue-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-purple-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-purple)
  );
  --color-purple-yellow-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-yellow)
  );
  --color-yellow-purple-mix-bg: oklch(
    from var(--color-yellow-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-yellow-mix-bg: oklch(
    from var(--color-purple-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-yellow-pink-mix: color-mix(
    in oklch,
    var(--color-yellow),
    var(--color-pink)
  );
  --color-pink-yellow-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-yellow)
  );
  --color-yellow-pink-mix-bg: oklch(
    from var(--color-yellow-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-yellow-mix-bg: oklch(
    from var(--color-pink-yellow-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-cyan-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-cyan)
  );
  --color-cyan-green-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-green)
  );
  --color-green-cyan-mix-bg: oklch(
    from var(--color-green-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-green-mix-bg: oklch(
    from var(--color-cyan-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-blue-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-blue)
  );
  --color-blue-green-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-green)
  );
  --color-green-blue-mix-bg: oklch(
    from var(--color-green-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-green-mix-bg: oklch(
    from var(--color-blue-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-purple-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-purple)
  );
  --color-purple-green-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-green)
  );
  --color-green-purple-mix-bg: oklch(
    from var(--color-green-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-green-mix-bg: oklch(
    from var(--color-purple-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-green-pink-mix: color-mix(
    in oklch,
    var(--color-green),
    var(--color-pink)
  );
  --color-pink-green-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-green)
  );
  --color-green-pink-mix-bg: oklch(
    from var(--color-green-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-green-mix-bg: oklch(
    from var(--color-pink-green-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-blue-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-blue)
  );
  --color-blue-cyan-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-cyan)
  );
  --color-cyan-blue-mix-bg: oklch(
    from var(--color-cyan-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-cyan-mix-bg: oklch(
    from var(--color-blue-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-purple-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-purple)
  );
  --color-purple-cyan-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-cyan)
  );
  --color-cyan-purple-mix-bg: oklch(
    from var(--color-cyan-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-cyan-mix-bg: oklch(
    from var(--color-purple-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-cyan-pink-mix: color-mix(
    in oklch,
    var(--color-cyan),
    var(--color-pink)
  );
  --color-pink-cyan-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-cyan)
  );
  --color-cyan-pink-mix-bg: oklch(
    from var(--color-cyan-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-cyan-mix-bg: oklch(
    from var(--color-pink-cyan-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-purple-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-purple)
  );
  --color-purple-blue-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-blue)
  );
  --color-blue-purple-mix-bg: oklch(
    from var(--color-blue-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-blue-mix-bg: oklch(
    from var(--color-purple-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-blue-pink-mix: color-mix(
    in oklch,
    var(--color-blue),
    var(--color-pink)
  );
  --color-pink-blue-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-blue)
  );
  --color-blue-pink-mix-bg: oklch(
    from var(--color-blue-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-blue-mix-bg: oklch(
    from var(--color-pink-blue-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-purple-pink-mix: color-mix(
    in oklch,
    var(--color-purple),
    var(--color-pink)
  );
  --color-pink-purple-mix: color-mix(
    in oklch,
    var(--color-pink),
    var(--color-purple)
  );
  --color-purple-pink-mix-bg: oklch(
    from var(--color-purple-pink-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
  --color-pink-purple-mix-bg: oklch(
    from var(--color-pink-purple-mix) l c h /
      var(--flexcyon-callout-bg-opacity)
  );
}