body.flexcyon-flex-max-mode,
body.flexcyon-ext-colors-enabled {
  --color-red-blue-mix: color-mix(in hsl, var(--color-red), var(--color-blue));
  --color-red-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-red-mix: color-mix(in hsl, var(--color-blue), var(--color-red));
  --color-blue-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-orange-mix: color-mix(
    in hsl,
    var(--color-red),
    var(--color-orange)
  );
  --color-red-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-red-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-red)
  );
  --color-orange-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-yellow-mix: color-mix(
    in hsl,
    var(--color-red),
    var(--color-yellow)
  );
  --color-red-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-red-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-red)
  );
  --color-yellow-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-green-mix: color-mix(
    in hsl,
    var(--color-red),
    var(--color-green)
  );
  --color-red-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-red-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-red)
  );
  --color-green-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-cyan-mix: color-mix(in hsl, var(--color-red), var(--color-cyan));
  --color-red-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-red-mix: color-mix(in hsl, var(--color-cyan), var(--color-red));
  --color-cyan-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-purple-mix: color-mix(
    in hsl,
    var(--color-red),
    var(--color-purple)
  );
  --color-red-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-red-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-red)
  );
  --color-purple-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-red-pink-mix: color-mix(in hsl, var(--color-red), var(--color-pink));
  --color-red-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-red), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-red-mix: color-mix(in hsl, var(--color-pink), var(--color-red));
  --color-pink-red-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-red))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-yellow-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-yellow)
  );
  --color-orange-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-orange-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-orange)
  );
  --color-yellow-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-green-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-green)
  );
  --color-orange-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-orange-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-orange)
  );
  --color-green-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-cyan-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-cyan)
  );
  --color-orange-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-orange-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-orange)
  );
  --color-cyan-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-blue-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-blue)
  );
  --color-orange-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-orange-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-orange)
  );
  --color-blue-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-purple-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-purple)
  );
  --color-orange-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-orange-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-orange)
  );
  --color-purple-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-orange-pink-mix: color-mix(
    in hsl,
    var(--color-orange),
    var(--color-pink)
  );
  --color-orange-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-orange), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-orange-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-orange)
  );
  --color-pink-orange-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-orange))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-green-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-green)
  );
  --color-yellow-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-yellow-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-yellow)
  );
  --color-green-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-cyan-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-cyan)
  );
  --color-yellow-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-yellow-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-yellow)
  );
  --color-cyan-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-blue-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-blue)
  );
  --color-yellow-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-yellow-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-yellow)
  );
  --color-blue-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-purple-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-purple)
  );
  --color-yellow-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-yellow-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-yellow)
  );
  --color-purple-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-yellow-pink-mix: color-mix(
    in hsl,
    var(--color-yellow),
    var(--color-pink)
  );
  --color-yellow-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-yellow), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-yellow-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-yellow)
  );
  --color-pink-yellow-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-yellow))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-cyan-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-cyan)
  );
  --color-green-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-green-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-green)
  );
  --color-cyan-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-blue-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-blue)
  );
  --color-green-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-green-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-green)
  );
  --color-blue-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-purple-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-purple)
  );
  --color-green-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-green-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-green)
  );
  --color-purple-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-green-pink-mix: color-mix(
    in hsl,
    var(--color-green),
    var(--color-pink)
  );
  --color-green-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-green), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-green-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-green)
  );
  --color-pink-green-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-green))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-blue-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-blue)
  );
  --color-cyan-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-cyan-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-cyan)
  );
  --color-blue-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-purple-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-purple)
  );
  --color-cyan-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-cyan-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-cyan)
  );
  --color-purple-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-cyan-pink-mix: color-mix(
    in hsl,
    var(--color-cyan),
    var(--color-pink)
  );
  --color-cyan-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-cyan), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-cyan-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-cyan)
  );
  --color-pink-cyan-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-cyan))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-purple-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-purple)
  );
  --color-blue-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-blue-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-blue)
  );
  --color-purple-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-blue-pink-mix: color-mix(
    in hsl,
    var(--color-blue),
    var(--color-pink)
  );
  --color-blue-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-blue), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-blue-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-blue)
  );
  --color-pink-blue-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-blue))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-purple-pink-mix: color-mix(
    in hsl,
    var(--color-purple),
    var(--color-pink)
  );
  --color-purple-pink-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-purple), var(--color-pink))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-pink-purple-mix: color-mix(
    in hsl,
    var(--color-pink),
    var(--color-purple)
  );
  --color-pink-purple-mix-bg: color-mix(
    in hsl,
    color-mix(in hsl, var(--color-pink), var(--color-purple))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
}