body.is-mobile.theme-dark {
  --settings-home-background: var(--color-base-10);
  --settings-background: var(--color-base-10);
  --setting-items-background: var(--color-base-10);
  --menu-divider-color: transparent;
  --mobile-sidebar-background: var(--titlebar-background);
  --modal-background: var(--color-base-05);
}

body.is-phone,
body.is-mobile {
  --safe-area-inset-top: 4px;
}

.is-phone .nav-buttons-container {
  background-color: var(--color-base-00);
}

body.flexcyon-revert-nav-item-alignment.is-mobile.is-phone .nav-buttons-container {
  inset-block: unset;
}
body.flexcyon-revert-nav-item-alignment.is-mobile.is-phone .nav-header ~ div:last-child {
  padding-block-start: 60px;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .nav-files-container {
  overflow-y: scroll;
  overscroll-behavior: contain;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .workspace-drawer-header {
  padding-block-end: 4px;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .workspace-drawer-inner {
  flex-direction: column-reverse;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .workspace-leaf-content {
  overflow-y: scroll;
  overscroll-behavior: contain;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .workspace-leaf {
  overflow-y: scroll;
  overscroll-behavior: contain;
}
body.flexcyon-revert-nav-item-alignment.is-mobile .workspace-drawer-active-tab-content > * {
  block-size: unset;
}