body.flexcyon-rtz-mode,
body.flexcyon-number-tabs {
  counter-reset: numTab 0;
}
body.flexcyon-rtz-mode .workspace-tab-header-inner-title::before,
body.flexcyon-number-tabs .workspace-tab-header-inner-title::before {
  margin-inline-end: 12px;
  overflow: hidden;
  font-size: var(--font-ui-medium);
  font-weight: bold;
  color: inherit;
  content: counter(numTab);
}
body.flexcyon-rtz-mode .workspace-tab-header,
body.flexcyon-number-tabs .workspace-tab-header {
  counter-increment: numTab;
}
body.flexcyon-rtz-mode .mod-stacked .workspace-tab-header-inner-title::before,
body.flexcyon-number-tabs .mod-stacked .workspace-tab-header-inner-title::before {
  margin-block-end: 12px;
}