body.flexcyon-rtz-mode,
body.flexcyon-number-tabs {
  counter-reset: numTab 0;
}
body.flexcyon-rtz-mode .workspace-tab-header-inner-title::before,
body.flexcyon-number-tabs .workspace-tab-header-inner-title::before {
  content: counter(numTab);
  color: inherit;
  font-weight: bold;
  margin-right: 12px;
  font-size: var(--font-ui-medium);
  overflow: hidden;
}
body.flexcyon-rtz-mode .workspace-tab-header,
body.flexcyon-number-tabs .workspace-tab-header {
  counter-increment: numTab;
}
body.flexcyon-rtz-mode .mod-stacked .workspace-tab-header-inner-title::before,
body.flexcyon-number-tabs
  .mod-stacked
  .workspace-tab-header-inner-title::before {
  margin-bottom: 12px;
}