body.theme-dark {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-blue),
    var(--color-cyan)
  );
}

body.theme-light {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-pink),
    var(--color-green)
  );
}

body {
  --flexcyon-ascii-max-font-size: 14px;
  --flexcyon-quote-font-size: 24px;
  --flexcyon-ascii-line-height: 1.5;
  --flexcyon-ascii-scaling-factor: 1;
  --flexcyon-quote-val: "This is a placeholder quote\ain the Flexcyon Theme.";
  --flexcyon-quote-credit-prefix: "-";
  --flexcyon-quote-credit: "bladeacer";
  --flexcyon-ascii-art: " \a_______________                                       \a___  ____/__  /________  ____________  ______________ \a__  /_   __  /_  _ \\_  |/_/  ___/_  / / /  __ \\_  __ \\ \a_  __/   _  / /  __/_>  < / /__ _  /_/ // /_/ /  / / / \a/_/      /_/  \\___//_/|_| \\___/ _\\__, / \\____//_/ /_/ \a                                 /____/                \a \a \a";
}
body div.empty-state-action {
  font-size: 1.05rem;
  color: var(--text-accent);
  opacity: 0.95;
}
body div.empty-state-title {
  font-size: 1.25rem;
}

body.flexcyon-flex-max-mode div.empty-state-title,
body.flexcyon-ascii-enable div.empty-state-title {
  display: unset;
}
body.flexcyon-flex-max-mode div.empty-state-container::before,
body.flexcyon-ascii-enable div.empty-state-container::before {
  font-family: var(--font-interface);
  content: var(--flexcyon-ascii-art);
  font-weight: bold;
  background: var(--flexcyon-new-tab-bg-wrapper);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: var(--flexcyon-ascii-line-height);
  white-space: pre;
  margin-top: 2rem;
  text-align: center;
  display: inline;
  font-size: min(3vw - 3.25px, var(--flexcyon-ascii-max-font-size));
}
body.flexcyon-flex-max-mode div.empty-state-container,
body.flexcyon-ascii-enable div.empty-state-container {
  max-height: unset;
  max-width: unset;
  scale: var(--flexcyon-ascii-scaling-factor);
}

body.is-mobile.flexcyon-flex-max-mode div.empty-state-container::before,
body.is-mobile.flexcyon-ascii-enable div.empty-state-container::before {
  font-size: min(3vw - 3px, var(--flexcyon-ascii-max-font-size));
  margin-bottom: 1rem;
  line-height: 0.8;
}