body.theme-dark {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-blue),
    var(--color-cyan)
  );
}

body.theme-light {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-pink),
    var(--color-green)
  );
}

body {
  --flexcyon-ascii-max-font-size: 14px;
  --flexcyon-ascii-max-width: 50rem;
  --flexcyon-quote-font-size: 24px;
  --flexcyon-ascii-line-height: 1;
  --flexcyon-ascii-scaling-factor: 1;
  --flexcyon-quote-val: "This is a placeholder quote\ain the Flexcyon Theme.";
  --flexcyon-quote-credit-prefix: "-";
  --flexcyon-quote-credit: "bladeacer";
  --flexcyon-ascii-art: " \a\
  _______________                                       \a\
  ___  ____/__  /________  ____________  ______________ \a\
  __  /_   __  /_  _ \\_  |/_/  ___/_  / / /  __ \\_  __ \\ \a\
  _  __/   _  / /  __/_>  < / /__ _  /_/ // /_/ /  / / / \a\
  /_/      /_/  \\___//_/|_| \\___/ _\\__, / \\____//_/ /_/ \a\
                                  /____/                \a\a\a ";
  --flexcyon-ascii-alignment: left;
  --flexcyon-new-tab-font-group: var(--font-monospace);
}
body div.empty-state-action {
  font-size: 1.05rem;
  color: var(--text-accent);
  opacity: 0.95;
}
body div.empty-state-title {
  font-size: 1.25rem;
}
body .empty-state-container {
  content-visibility: auto;
}

body.flexcyon-flex-max-mode div.empty-state,
body.flexcyon-ascii-enable div.empty-state {
  content-visibility: auto;
}
body.flexcyon-flex-max-mode div.empty-state-title,
body.flexcyon-ascii-enable div.empty-state-title {
  display: unset;
}
body.flexcyon-flex-max-mode div.empty-state-container,
body.flexcyon-ascii-enable div.empty-state-container {
  max-inline-size: var(--flexcyon-ascii-max-width);
  max-block-size: unset;
  scale: var(--flexcyon-ascii-scaling-factor);
}
body.flexcyon-flex-max-mode .reveal .pause-overlay::before,
body.flexcyon-flex-max-mode div.empty-state-container::before,
body.flexcyon-ascii-enable .reveal .pause-overlay::before,
body.flexcyon-ascii-enable div.empty-state-container::before {
  font-family: var(--flexcyon-new-tab-font-group);
  content: var(--flexcyon-ascii-art);
  font-weight: bold;
  background: var(--flexcyon-new-tab-bg-wrapper);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: var(--flexcyon-ascii-line-height);
  white-space: pre;
  text-align: var(--flexcyon-ascii-alignment);
  display: inline;
  font-size: min(5vw - 3.25px, var(--flexcyon-ascii-max-font-size));
}
body.flexcyon-flex-max-mode .reveal .pause-overlay::before,
body.flexcyon-ascii-enable .reveal .pause-overlay::before {
  position: absolute;
  line-height: calc(var(--flexcyon-ascii-line-height) + 0.25);
  margin: auto;
  max-inline-size: max-content;
  max-block-size: max-content;
  inset: 0 0 40px 36px;
}

body.is-mobile.flexcyon-flex-max-mode .workspace-leaf > div > div > div.empty-state > div.empty-state-container::before,
body.is-mobile.flexcyon-ascii-enable .workspace-leaf > div > div > div.empty-state > div.empty-state-container::before {
  font-size: min(3.5vw - 3px, var(--flexcyon-ascii-max-font-size));
  margin-block-end: 1rem;
  line-height: 0.8;
}