/* 
Tree ASCII Art
Credits: https://www.asciiartcopy.com/ascii-tree.html
*/

body.theme-light {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(to right, var(--color-green), var(--color-base-40), var(--text-faint));

  --flexcyon-ascii-art: " \a\
 _-_ \a\
 \/~~   ~~\\ \a\
 \/~~         ~~\\ \a\
 {               } \a\
 \\  _-     -_  \/ \a\
 ~  \\\\ //  ~ \a\
_- -  | | _- _ \a\
  _ - | |   -_ \a\
 // \\\\ \a"
}

