div.callout[data-callout*=all-yellow],
div.callout[data-callout-metadata*=all-yellow],
div.callout[data-callout*=bg-yellow],
div.callout[data-callout-metadata*=bg-yellow] {
  background-color: rgb(var(--color-yellow-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-yellow]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-yellow]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-yellow]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-yellow]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-yellow]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-yellow]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-yellow]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-yellow]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-yellow-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-yellow] div.callout-title,
div.callout[data-callout*=all-yellow] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-yellow] div.callout-title,
div.callout[data-callout-metadata*=all-yellow] div.callout-icon .svg-icon,
div.callout[data-callout*=title-yellow] div.callout-title,
div.callout[data-callout*=title-yellow] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow] div.callout-title,
div.callout[data-callout-metadata*=title-yellow] div.callout-icon .svg-icon {
  color: var(--color-yellow);
}

div.callout[data-callout*=all-blue],
div.callout[data-callout-metadata*=all-blue],
div.callout[data-callout*=bg-blue],
div.callout[data-callout-metadata*=bg-blue] {
  background-color: rgb(var(--color-blue-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-blue]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-blue]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-blue]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-blue]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-blue]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-blue]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-blue]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-blue]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-blue-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-blue] div.callout-title,
div.callout[data-callout*=all-blue] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-blue] div.callout-title,
div.callout[data-callout-metadata*=all-blue] div.callout-icon .svg-icon,
div.callout[data-callout*=title-blue] div.callout-title,
div.callout[data-callout*=title-blue] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue] div.callout-title,
div.callout[data-callout-metadata*=title-blue] div.callout-icon .svg-icon {
  color: var(--color-blue);
}

div.callout[data-callout*=all-purple],
div.callout[data-callout-metadata*=all-purple],
div.callout[data-callout*=bg-purple],
div.callout[data-callout-metadata*=bg-purple] {
  background-color: rgb(var(--color-purple-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-purple]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-purple]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-purple]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-purple]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-purple]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-purple]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-purple]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-purple]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-purple-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-purple] div.callout-title,
div.callout[data-callout*=all-purple] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-purple] div.callout-title,
div.callout[data-callout-metadata*=all-purple] div.callout-icon .svg-icon,
div.callout[data-callout*=title-purple] div.callout-title,
div.callout[data-callout*=title-purple] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple] div.callout-title,
div.callout[data-callout-metadata*=title-purple] div.callout-icon .svg-icon {
  color: var(--color-purple);
}

div.callout[data-callout*=all-red],
div.callout[data-callout-metadata*=all-red],
div.callout[data-callout*=bg-red],
div.callout[data-callout-metadata*=bg-red] {
  background-color: rgb(var(--color-red-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-red]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-red]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-red]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-red]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-red]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-red]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-red]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-red]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-red-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-red] div.callout-title,
div.callout[data-callout*=all-red] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-red] div.callout-title,
div.callout[data-callout-metadata*=all-red] div.callout-icon .svg-icon,
div.callout[data-callout*=title-red] div.callout-title,
div.callout[data-callout*=title-red] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red] div.callout-title,
div.callout[data-callout-metadata*=title-red] div.callout-icon .svg-icon {
  color: var(--color-red);
}

div.callout[data-callout*=all-cyan],
div.callout[data-callout-metadata*=all-cyan],
div.callout[data-callout*=bg-cyan],
div.callout[data-callout-metadata*=bg-cyan] {
  background-color: rgb(var(--color-cyan-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-cyan]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-cyan]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-cyan]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-cyan]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-cyan]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-cyan]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-cyan]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-cyan]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-cyan-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-cyan] div.callout-title,
div.callout[data-callout*=all-cyan] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-cyan] div.callout-title,
div.callout[data-callout-metadata*=all-cyan] div.callout-icon .svg-icon,
div.callout[data-callout*=title-cyan] div.callout-title,
div.callout[data-callout*=title-cyan] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan] div.callout-title,
div.callout[data-callout-metadata*=title-cyan] div.callout-icon .svg-icon {
  color: var(--color-cyan);
}

div.callout[data-callout*=all-pink],
div.callout[data-callout-metadata*=all-pink],
div.callout[data-callout*=bg-pink],
div.callout[data-callout-metadata*=bg-pink] {
  background-color: rgb(var(--color-pink-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-pink]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-pink]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-pink]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-pink]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-pink]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-pink]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-pink]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-pink]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-pink-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-pink] div.callout-title,
div.callout[data-callout*=all-pink] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-pink] div.callout-title,
div.callout[data-callout-metadata*=all-pink] div.callout-icon .svg-icon,
div.callout[data-callout*=title-pink] div.callout-title,
div.callout[data-callout*=title-pink] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink] div.callout-title,
div.callout[data-callout-metadata*=title-pink] div.callout-icon .svg-icon {
  color: var(--color-pink);
}

div.callout[data-callout*=all-green],
div.callout[data-callout-metadata*=all-green],
div.callout[data-callout*=bg-green],
div.callout[data-callout-metadata*=bg-green] {
  background-color: rgb(var(--color-green-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-green]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-green]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-green]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-green]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-green]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-green]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-green]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-green]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-green-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-green] div.callout-title,
div.callout[data-callout*=all-green] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-green] div.callout-title,
div.callout[data-callout-metadata*=all-green] div.callout-icon .svg-icon,
div.callout[data-callout*=title-green] div.callout-title,
div.callout[data-callout*=title-green] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green] div.callout-title,
div.callout[data-callout-metadata*=title-green] div.callout-icon .svg-icon {
  color: var(--color-green);
}

div.callout[data-callout*=all-orange],
div.callout[data-callout-metadata*=all-orange],
div.callout[data-callout*=bg-orange],
div.callout[data-callout-metadata*=bg-orange] {
  background-color: rgb(var(--color-orange-rgb), var(--flexcyon-callout-bg-opacity));
}
div.callout[data-callout*=all-orange]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title, div.callout[data-callout*=all-orange]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=all-orange]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=all-orange]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout*=bg-orange]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout*=bg-orange]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content,
div.callout[data-callout-metadata*=bg-orange]:has([data-callout*=tui], [data-callout-metadata*=tui]) div.callout-title,
div.callout[data-callout-metadata*=bg-orange]:has(.callout[data-callout*=tui], [data-callout-metadata*=tui]) .callout-content {
  background-color: rgb(var(--color-orange-rgb), var(--flexcyon-callout-bg-opacity));
}

div.callout[data-callout*=all-orange] div.callout-title,
div.callout[data-callout*=all-orange] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=all-orange] div.callout-title,
div.callout[data-callout-metadata*=all-orange] div.callout-icon .svg-icon,
div.callout[data-callout*=title-orange] div.callout-title,
div.callout[data-callout*=title-orange] div.callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange] div.callout-title,
div.callout[data-callout-metadata*=title-orange] div.callout-icon .svg-icon {
  color: var(--color-orange);
}