div.callout[data-callout*="flashcard"],
div.callout[data-callout-metadata*="flashcard"] {
  width: var(--flexcyon-callouts-flashcard-width);
  height: var(--flexcyon-callouts-flashcard-height);
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all var(--flexcyon-callout-flashcard-animation-duration)
    ease-in-out;
}
div.callout[data-callout*="flashcard"] .callout-content,
div.callout[data-callout-metadata*="flashcard"] .callout-content {
  transform: rotateY(180deg);
  opacity: 0;
}
div.callout[data-callout*="flashcard"] .callout-title,
div.callout[data-callout-metadata*="flashcard"] .callout-title {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.callout[data-callout*="flashcard"]:hover,
div.callout[data-callout-metadata*="flashcard"]:hover {
  transform: rotateY(180deg);
}
div.callout[data-callout*="flashcard"]:hover .callout-title,
div.callout[data-callout-metadata*="flashcard"]:hover .callout-title {
  opacity: 0;
}
div.callout[data-callout*="flashcard"]:hover .callout-content,
div.callout[data-callout-metadata*="flashcard"]:hover .callout-content {
  opacity: 1;
}