body.flexcyon-plain-callouts .callout:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-blue);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
body.flexcyon-plain-callouts .callout:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-blue);
}
body.flexcyon-plain-callouts .callout:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
body.flexcyon-plain-callouts .callout:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=pln]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-yellow);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-yellow);
}
.callout[data-callout*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-yellow]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-blue);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-blue);
}
.callout[data-callout*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-blue]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-purple);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-purple);
}
.callout[data-callout*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-purple]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-red);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-red);
}
.callout[data-callout*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-red]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-cyan);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-cyan);
}
.callout[data-callout*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-cyan]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-pink);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-pink);
}
.callout[data-callout*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-pink]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-green);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-green);
}
.callout[data-callout*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-green]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}

.callout[data-callout*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])),
.callout[data-callout-metadata*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) {
  padding: 0;
  border: 1px solid var(--color-orange);
  border-radius: calc(0.5 * var(--flexcyon-callout-radix));
}
.callout[data-callout*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title,
.callout[data-callout-metadata*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title {
  padding: 4px 12px;
  color: var(--background-primary);
  background-color: var(--color-orange);
}
.callout[data-callout*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon,
.callout[data-callout-metadata*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-title .callout-icon {
  display: none;
}
.callout[data-callout*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content,
.callout[data-callout-metadata*=plain-orange]:not(:is([data-callout*=vertical], [data-callout*=tui], [data-callout-metadata*=vertical], [data-callout-metadata*=tui])) .callout-content {
  padding: 4px 12px;
}