div.callout[data-callout*=rtl-all] div.callout-title *,
div.callout[data-callout*=rtl-all] div.callout-title,
div.callout[data-callout-metadata*=rtl-all] div.callout-title *,
div.callout[data-callout-metadata*=rtl-all] div.callout-title,
div.callout[data-callout*=rtl-title] div.callout-title *,
div.callout[data-callout*=rtl-title] div.callout-title,
div.callout[data-callout-metadata*=rtl-title] div.callout-title *,
div.callout[data-callout-metadata*=rtl-title] div.callout-title {
  direction: rtl !important;
  unicode-bidi: bidi-override;
}

div.callout[data-callout*=rtl-all] div.callout-content *,
div.callout[data-callout-metadata*=rtl-all] div.callout-content *,
div.callout[data-callout*=rtl-content] div.callout-content *,
div.callout[data-callout-metadata*=rtl-content] div.callout-content * {
  direction: rtl !important;
  unicode-bidi: bidi-override;
}
div.callout[data-callout*=rtl-all] div.callout-content code[class*=language-],
div.callout[data-callout*=rtl-all] div.callout-content pre[class*=language-],
div.callout[data-callout-metadata*=rtl-all] div.callout-content code[class*=language-],
div.callout[data-callout-metadata*=rtl-all] div.callout-content pre[class*=language-],
div.callout[data-callout*=rtl-content] div.callout-content code[class*=language-],
div.callout[data-callout*=rtl-content] div.callout-content pre[class*=language-],
div.callout[data-callout-metadata*=rtl-content] div.callout-content code[class*=language-],
div.callout[data-callout-metadata*=rtl-content] div.callout-content pre[class*=language-] {
  text-align: right;
}

div.callout[data-callout*=ltr-all] div.callout-title *,
div.callout[data-callout*=ltr-all] div.callout-title,
div.callout[data-callout-metadata*=ltr-all] div.callout-title *,
div.callout[data-callout-metadata*=ltr-all] div.callout-title,
div.callout[data-callout*=ltr-title] div.callout-title *,
div.callout[data-callout*=ltr-title] div.callout-title,
div.callout[data-callout-metadata*=ltr-title] div.callout-title *,
div.callout[data-callout-metadata*=ltr-title] div.callout-title {
  direction: ltr !important;
  unicode-bidi: bidi-override;
}

div.callout[data-callout*=ltr-all] div.callout-content *,
div.callout[data-callout-metadata*=ltr-all] div.callout-content *,
div.callout[data-callout*=ltr-content] div.callout-content *,
div.callout[data-callout-metadata*=ltr-content] div.callout-content * {
  direction: ltr !important;
  unicode-bidi: bidi-override;
}
div.callout[data-callout*=ltr-all] div.callout-content code[class*=language-],
div.callout[data-callout*=ltr-all] div.callout-content pre[class*=language-],
div.callout[data-callout-metadata*=ltr-all] div.callout-content code[class*=language-],
div.callout[data-callout-metadata*=ltr-all] div.callout-content pre[class*=language-],
div.callout[data-callout*=ltr-content] div.callout-content code[class*=language-],
div.callout[data-callout*=ltr-content] div.callout-content pre[class*=language-],
div.callout[data-callout-metadata*=ltr-content] div.callout-content code[class*=language-],
div.callout[data-callout-metadata*=ltr-content] div.callout-content pre[class*=language-] {
  text-align: left;
}