div.callout[data-callout*="tilt-all"] .callout-title,
div.callout[data-callout-metadata*="tilt-all"] .callout-title,
div.callout[data-callout*="tilt-title"] .callout-title,
div.callout[data-callout-metadata*="tilt-title"] .callout-title {
  transform: skewX(-7.5deg);
}

div.callout[data-callout*="tilt-all"] .callout-content,
div.callout[data-callout-metadata*="tilt-all"] .callout-content,
div.callout[data-callout*="tilt-content"] .callout-content,
div.callout[data-callout-metadata*="tilt-content"] .callout-content {
  transform: skewX(-7.5deg);
}